<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]><html class="no-js ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
      <head>

        <!--- Basic Page Needs
        ================================================== -->
        <meta charset="utf-8">
        <title>Bradley Hekman</title>
        <meta name="description" content="The personal website of Bradley Hekman.">
        <meta name="author" content="Bradley Hekman">

        <!-- Mobile Specific Metas
        ================================================== -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="static/css/default.css">
        <link rel="stylesheet" href="static/css/layout.css">
        <link rel="stylesheet" href="static/css/media-queries.css">
        <link rel="stylesheet" href="static/css/magnific-popup.css">

        <!-- Script
        ================================================== -->
        <script src="static/js/modernizr.js"></script>

        <!-- Favicons
        ================================================== -->
        <link rel="shortcut icon" href="static/img/favicon.png" >

      </head>

      <body>

        <!-- Header
        ================================================== -->
        <header id="home">

        <nav id="nav-wrap" class=".nav-wrap-top">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
          <li class="current"><a class="smoothscroll" href="#home">Home</a></li>
          <li><a class="smoothscroll" href="#about">About</a></li>
          <li><a href="static/download/resume.pdf">Resume</a></li>
          <li><a class="smoothscroll" href="#education">Education</a></li>
          <li><a class="smoothscroll" href="#work">Work</a></li>
          <li><a class="smoothscroll" href="#portfolio">Portfolio</a></li>
          <li><a href="mailto:bradley.hekman@gmail.com">Contact</a></li>
        </ul> <!-- end #nav -->

        </nav> <!-- end #nav-wrap -->

        <div class="row banner">
          <div class="banner-text">
            <h1 class="responsive-headline">I'm Brad Hekman.</h1>
            <h3>Hello! My name is <span>Bradley Hekman</span>. You can call me <span>Brad</span>.<br> I like <span>coding</span>. I like <span>coffee</span>. I like quite a few <span>other things</span> too. I would tell you about them, but I'd rather work on <span>this site</span>. It's still under construction.</h3>
            <hr />
            <ul class="social">
              <!-- TODO: add github, stackoverflow, others? -->
              <li><a href="mailto:bradley.hekman@gmail.com"><i class="fa fa-envelope"></i></a></li>
              <li><a href="https://github.com/bhekman"><i class="fa fa-github"></i></a></li>
              <li><a href="https://seelio.com/bhekman"><i class="fa fa-briefcase"></i></a></li>
              <li><a href="http://stackoverflow.com/users/1178417/bhekman"><i class="fa fa-stack-overflow"></i></a></li>
              <li><a href="https://www.linkedin.com/pub/bradley-hekman/45/266/1a6"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/bradley.hekman"><i class="fa fa-facebook"></i></a></li>
              <li><a href="skype:bradley.hekman?call"><i class="fa fa-skype"></i></a></li>
              <li><a href="tel://+7576060042"><i class="fa fa-phone"></i></a></li>
            </ul>
          </div>
        </div>

        <p class="scrolldown">
        <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
        </p>

        </header> <!-- Header End -->


        <!-- About Section
        ================================================== -->
        <section id="about">

        <div class="row">

          <div class="three columns">

            <img class="profile-pic"  src="static/img/profilepic.jpg" alt="" />

          </div>

          <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>
            TODO
            </p>

            <div class="row">

              <div class="columns contact-details">
                <h2>Contact Details</h2>
                <p class="address">
                <span>Bradley Hekman</span><br>
                <a href="tel://+7576060042">(757)606-0042</a><br>
                <a href="mailto:bradley.hekman@gmail.com">bradley.hekman@gmail.com</a>
                </p>
              </div>

              <div class="columns download">
                <p>
                <a href="static/download/resume.pdf" class="button"><i class="fa fa-download"></i>Download Resume</a>
                </p>
              </div>

            </div> <!-- end row -->

          </div> <!-- end .main-col -->

        </div>

        </section> <!-- About Section End-->


        <!-- Education
        ------------------------------------------------ -->
        <section id="education">
          <div class="row education">

            <div class="three columns header-col">
              <h1><span>Education</span></h1>
            </div>

            <div class="nine columns main-col">

              <div class="row item">
                <div class="twelve columns">
                  <h3>University of Michigan</h3>
                  <p class="info">B.S.E. in Computer Science with Honors &bull; May 2015<br>
                  Minor in Complex Systems<br>
                  Minor in International Engineering</p>
                  <ul class="description">
                    <li>&bull; EECS 477 - Algorithms</li>
                    <li>&bull; EECS 484 - Databases</li>
                    <li>&bull; EECS 492 - Artificial Intelligence</li>
                    <li>&bull; EECS 281 - Data Structures &amp; Algorithms</li>
                    <li>&bull; EECS 370 - Introduction to Computer Architecture</li>
                    <li>&bull; EECS 280 - Programming &amp; Introductory Data Structures</li>
                    <li>&bull; MATH 217 - Linear Algebra</li>
                  </ul>
                </div>
              </div> <!-- item end -->

              <div class="row item">
                <div class="twelve columns">
                  <h3>Semester at Sea</h3>
                  <p class="info">Study Abroad &bull; Spring 2013</p>

                  <p class="description">
                  Explored diverse locations and cultures while in port and studied international-focused coursework while at sea. Gained an appreciation for foreign cultures, a passion for travel, and confidence in my ability to take on the world. Read more about our voyage <a href="http://www.semesteratsea.org/voyages/spring-2013/">here</a>.
                  </p>

                </div>

              </div> <!-- item end -->

            </div> <!-- main-col end -->

          </div> <!-- End Education -->
        </section> <!-- Education Section End-->


        <!-- Work
        ------------------------------------------------ -->
        <section id="work"> <!-- Work Section Start-->
          <div class="row work">

            <div class="three columns header-col">
              <h1><span>Work</span></h1>
            </div>

            <div class="nine columns main-col">

              <div class="row item">
                <div class="twelve columns">
                  <h3>Google &bull; Zurich</h3>
                  <h4 class="info">Software Engineer <span>&bull;</span> <em class="date">Starting August 2015</em></h4>

                  <p class="description">
                  TODO: Please see resume for more info.
                  </p>
                </div>
              </div> <!-- row item end -->

              <div class="row item">
                <div class="twelve columns">
                  <h3>Google &bull; Mountain View, CA</h3>
                  <h4 class="info">Software Engineering Intern <span>&bull;</span> <em class="date">Summer 2014</em></h4>
                  <p class="description">
                  TODO: Please see resume for more info.
                  </p>
                </div>
              </div> <!-- item end -->

              <div class="row item">
                <div class="twelve columns">
                  <h3>Facebook &bull; Menlo Park, CA</h3>
                  <h4 class="info">Software Engineering Intern <span>&bull;</span> <em class="date">Summer 2013</em></h4>
                  <p class="description">
                  TODO: Please see resume for more info.
                  </p>
                </div>
              </div> <!-- item end -->

              <div class="row item">
                <div class="twelve columns">
                  <h3>North American Bancard &bull; Troy, MI</h3>
                  <h4 class="info">Android Developer Intern <span>&bull;</span> <em class="date">Summer 2012</em></h4>
                  <p class="description">
                  TODO: Please see resume for more info.
                  </p>
                </div>
              </div> <!-- item end -->

            </div> <!-- main-col end -->
          </div> <!-- End Work -->
        </section> <!-- Education Section End-->


        <!-- Portfolio Section
        ================================================== -->
        <section id="portfolio">

        <div class="row">

          <h1>Check Out Some of My Works. (Coming soon)<br>
          Check out my <a href="https://seelio.com/bhekman">Seelio</a>
          and my <a href="https://github.com/bhekman">Github</a>
          in the meantime!</h1>

          <div class="twelve columns collapsed">

            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-01" title="">
                    <img alt="" src="static/img/portfolio/coffee.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Coffee</h5>
                        <p>Illustration</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-02" title="">
                    <img alt="" src="static/img/portfolio/console.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Console</h5>
                        <p>Web Development</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-03" title="">
                    <img alt="" src="static/img/portfolio/judah.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Judah</h5>
                        <p>Webdesign</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-04" title="">
                    <img alt="" src="static/img/portfolio/into-the-light.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Into The Light</h5>
                        <p>Photography</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-05" title="">
                    <img alt="" src="static/img/portfolio/farmerboy.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Farmer Boy</h5>
                        <p>Branding</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-06" title="">
                    <img alt="" src="static/img/portfolio/girl.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Girl</h5>
                        <p>Photography</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-07" title="">
                    <img alt="" src="static/img/portfolio/origami.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Origami</h5>
                        <p>Illustration</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div> <!-- item end -->

              <div class="columns portfolio-item">
                <div class="item-wrap">

                  <a href="#modal-08" title="">
                    <img alt="" src="static/img/portfolio/retrocam.jpg">
                    <div class="overlay">
                      <div class="portfolio-item-meta">
                        <h5>Retrocam</h5>
                        <p>Web Development</p>
                      </div>
                    </div>
                    <div class="link-icon"><i class="icon-plus"></i></div>
                  </a>

                </div>
              </div>  <!-- item end -->

            </div> <!-- portfolio-wrapper end -->

          </div> <!-- twelve columns end -->


        <!-- footer
        ================================================== -->
        <footer>

        <div class="row">

          <div class="twelve columns">

            <ul class="social-links">
              <!-- TODO: add github, stackoverflow, others? -->
              <li><a href="mailto:bradley.hekman@gmail.com"><i class="fa fa-envelope"></i></a></li>
              <li><a href="https://github.com/bhekman"><i class="fa fa-github"></i></a></li>
              <li><a href="https://seelio.com/bhekman"><i class="fa fa-briefcase"></i></a></li>
              <li><a href="http://stackoverflow.com/users/1178417/bhekman"><i class="fa fa-stack-overflow"></i></a></li>
              <li><a href="https://www.linkedin.com/pub/bradley-hekman/45/266/1a6"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/bradley.hekman"><i class="fa fa-facebook"></i></a></li>
              <li><a href="skype:bradley.hekman?call"><i class="fa fa-skype"></i></a></li>
              <li><a href="tel://+7576060042"><i class="fa fa-phone"></i></a></li>
            </ul>

            <ul class="copyright">
              <li>&copy; Copyright 2014 CeeVee</li>
              <li>Design by <a title="Styleshout" href="http://www.styleshout.com/">Styleshout</a></li>   
            </ul>

          </div>

          <!--<div id="go-top"><a class="smoothscroll" title="Back to Top" href="#home"><i class="icon-up-open"></i></a></div>-->

        </div>

        </footer> <!-- Footer End-->

        <!-- Java Script
        ================================================== -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="static/js/jquery-1.10.2.min.js"><\/script>')</script>
          <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js"></script>

          <script src="static/js/jquery.flexslider.js"></script>
          <script src="static/js/waypoints.js"></script>
          <script src="static/js/jquery.fittext.js"></script>
          <script src="static/js/magnific-popup.js"></script>
          <script src="static/js/init.js"></script>

        </body>

      </html>
