mixin question(title, left, middle, right)
  br
  div.panel.panel-info
    div.panel-heading
      h3.panel-title= title
    div.panel-body
      div.btn-group(data-toggle="buttons")
        label.btn.btn-primary.active
          input#option1(type="radio", name="options", value="one", autocomplete="off")
          h3 one
        label.btn.btn-primary
          input#option2(type="radio", name="options", value="two", autocomplete="off")
          h3 two
        label.btn.btn-primary
          input#option3(type="radio", name="options", value="three", autocomplete="off")
          h3 three
    br
