include question

html(lang="en")
  include header
  body
    div.container

      include quiz_jumbo

      //-button.btn.btn-danger(type="submit") Reset quiz!

      each q, i in questions
        //-+question(q.question, q.num, q.correct_choice, q.choices, q.num_choices, q.footer, uid)
        +question(q, uid)

      br
      a.btn.btn-success(type="button" href="/honorsproject/results") See overall results
      br
      br



