include question

html(lang="en")
  include header
  body
    div.container

      include quiz_jumbo

      //-button.btn.btn-danger(type="submit") Reset quiz!

      each q, i in questions
        //-+question(q.question, q.num, q.correct_choice, "true", "maybe?", "false")
        +question(q.question, q.num, q.correct_choice, q.choices, q.footer, uid)

      //-button.btn.btn-success(type="submit") Submit!



