include question

html(lang="en")
  include header
  body
    div.container

      include quiz_jumbo

      //-button.btn.btn-danger(type="submit") Reset quiz!

      each r, i in results
        br
        div.panel.panel-info()
          div.panel-heading
            h3.panel-title Question #{r.q_num} -- #{r.question}
          div.panel-body
            each c, j in r.choices
              h5 Choice "#{c.choice}" got #{c.votes} votes.

      br
      a.btn.btn-success(type="button" href="/quiz") Go back
      br
      br




