include question

html(lang="en")
  include header
  body
    div.container

      include quiz_jumbo

      //-button.btn.btn-danger(type="submit") Reset quiz!

      h1 ummmmm
      each r, i in results
        h1 r.q_num

      //-button.btn.btn-success(type="submit") Submit!
      br
      br
      br




