include question

html(lang="en")
  include header
  body
    div.container
      
      include quiz_jumbo
      br

      div.panel.panel-info(id="panel_"+q_num)
        div.panel-heading
          h3.panel-title= "What would you like to do?"
        div.panel-body
          div.btn-group.btn-group-justified(role="group", aria-label="...")
            div.btn-group(role="group")
              a.btn.btn-default(type="button" href="/") See Brad's homepage
            div.btn-group(role="group")
              a.btn.btn-success(type="button" href="/honorsproject/new") Take quiz!
            div.btn-group(role="group")
              a.btn.btn-default(type="button" href="/honorsproject/results") Skip to results
        br

