include question
include jumbo

html(lang="en")
  include header
  body
    div.container

      +jumbo(quiz_title, "Please answer the questions below.")

      each q, i in questions
        +question(q, i, uid)

      br
      a.btn.btn-success(type="button" href="/honorsproject") Main Page
      a.btn.btn-success(type="button" href="/honorsproject/results") Results Page
      br
      br



