<!DOCTYPE html>
<html lang="en">
  <head>
    <!--STUFF-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--TAB INFO-->
    <link rel="favicon" href="static/img/favicon.png">
    <title>Bradley W. Hekman</title>

    <!--CSS-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/bhekman.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script src="static/js/smooth-scroll.js"></script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-background">
          <div class="dkgray center" id="intro">
            <title>Bradley Hekman</title>
          </div>
          <div class="dkgray center">
            <ul class="nav navbar-nav">
              <li><a data-scroll href="#top" title="Home">
                <span class="navicon glyphicon glyphicon-home"></span>
              </a></li>
              <li><a data-scroll href="#about" title="About">
                <span class="navicon glyphicon glyphicon-user"></span>
              </a></li>
              <li><a data-scroll href="#resume" title="Resume">
                <span class="navicon glyphicon glyphicon-list-alt">
              </span></a></li>
              <li><a data-scroll href="#work" title="Work Experience">
                <span class="navicon glyphicon glyphicon-briefcase">
              </span></a></li>
              <li><a data-scroll href="#education" title="Education">
                <span class="navicon glyphicon glyphicon-pencil">
              </span></a></li>
              <li><a data-scroll href="#projects" title="projects">
                <span class="navicon glyphicon glyphicon-folder-open">
              </span></a></li>
              <li><a data-scroll href="#contact" title="Contact">
                <span class="navicon glyphicon glyphicon-send"></span>
              </a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="divider" id="top">
    </div>

    <div class="container">
      <!--<div class="section" id="intro">-->
        <!--<title>Bradley Hekman</title>-->
        <!--<br>-->
        <!--<subtitle>Hello world. You can call me Brad.<br>This is my personal website.</subtitle>-->
      <!--</div>-->

      <div class="green section" id="about">
        <subtitle>About</subtitle>
        <br>
        Hello! I'm Bradley Hekman. You can call me Brad.
        <br>
        <br>
        I like coding. I like coffee. I like quite a few other things too. I would tell you about them, but I'd rather work on this site. It's still under construction.
      </div>

      <div class="gray section" id="resume">
        <br>
        <span style="display:inline-block; font-size: 2em;">
          Resume  
          <a href="resume.pdf" title="resume">
            <span class="glyphicon glyphicon-list-alt" style="padding-left:20px; font-size: 36px;">
          </a>
        </span>
        <br>
        <br>
      </div>

      <div class="dkgray section" id="work">
        <subtitle>Work Experience</subtitle>
        <h4>Google (May 2014 - August 2014)</h4>
        I will be interning with the Google Maps team in Mountain View this summer. We'll we working on improving the data flow from Google's self-driving cars to the Google Streetview product.
        <h4>Facebook (May 2013 - August 2013)</h4>
        I interned with the Facebook Games team in Menlo Park over the summer of 2013. I worked on the desktop side of the app center and with open graph integration. I used lots of PHP, Javascript, CSS, and HTML.
        <h4>North American Bancard (May 2012 - April 2012)</h4>
        I interned with the North American Bancard PayAnywhere Android team in Troy, MI over the summer of 2012 and through most of the Fall 2012 semester. I spent the majority of my time improving the reliability of the app and updating the design of various screens. All of my work was done using the Android Native SDK in Eclipse.
        <br>
      </div>

      <div class="green section" id="education">
        <subtitle>Education</subtitle>
        <h4>University of Michigan (Sept 2011 - May 2015)</h4>
        <ul>
          <li>B.S.E. in Computer Science Engineering</li>
          <li>Minor in Complex Systems</li>
          <li>Minor in International Engineering</li>
        </ul>
        <h5>Relevant Coursework:</h5>
        <ul>
          <li>EECS 477 - Algorithms</li>
          <li>EECS 484 - Databases</li>
          <li>EECS 492 - Artificial Intelligence</li>
          <li>EECS 281 - Data Structures &amp; Algorithms</li>
          <li>EECS 370 - Introduction to Computer Architecture</li>
          <li>EECS 280 - Programming &amp; Introductory Data Structures</li>
          <li>MATH 217 - Linear Algebra</li>
        </ul>
        <h4>Semester at Sea (Winter 2013)</h4>
        <ul>
          <li>Traveled, Studied, and experienced Asia, Africa, and Europe via ship.</li>
          <li>Took courses in Project Management, Global Entrepreneurship, Asian Religion, &amp; Past/Present East-West Relations
        </ul>
      </div>

      <div class="gray section" id="projects">
        <subtitle>Personal Projects</subtitle>
        <ul>
          <li><a href="https://seelio.com/w/4e0/interning-with-protei">
            <h4>Protei</h4>
          </a></li>
          <li><a href="https://seelio.com/w/1ie/lsa-courseguide">
            <h4>LSA Courseguide</h4>
          </a></li>
          <li><a href="https://seelio.com/w/1if/maize-meals">
            <h4>Maize Meals</h4>
          </a></li>
          <br>
          <li>
            <h4>Will add more soon...</h4>
          </li>
      </div>

      <div class="dkgray row section" id="contact">
        <div class="col-md-6">
          <subtitle>Contact</subtitle>
          <b>Email:</b> 
          <a href="mailto:bradley.hekman@gmail.com?Subject=Hello!">Bradley.Hekman@gmail.com</a>
          <br>
          <b>Phone:</b>
          <a href="tel:7576060042">757.606.0042</a>
        </div>

        <div class="col-md-6">
          <subtitle>Profiles</subtitle>
          <ul>
            <li><a href="https://github.com/bhekman">
              <h4>Github Profile</h4>
            </a></li>
            <li><a href="http://stackoverflow.com/users/1178417/bhekman">
              <h4>StackOverflow Profile</h4>
            </a></li>
          </ul>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>
  </body>

  <footer>
    <script>
      smoothScroll.init({
        speed: 750,
        easing: 'easeInOutQuart',
        updateURL: false,
        offset: 170
      });
    </script>
  </footer>

</html>

